/* Позиционирование div'а */
div {
	width: 95%;
	height: 95%;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
}

/* Стиль для узла */
.node {
	border: solid 1px black;
	width: 30px;
    height: 2px;
}
/* Стиль для линии */
.link {
	fill: none;
	stroke: #ccc;
	shape-rendering: crispEdges;
	border-radius: 100px;
}
/* Стиль для узла датчика */
.dat {
	border-radius: 50px;
	overflow: hidden;
	width: 120px;
	height: 35px;
	padding: 1px;
	border: solid 1px black;
	text-align: center;
	background-color: PaleTurquoise;
	x: 10;
	y: -15;
	display: flex;
}
/* Стиль для узла условия */
/*.cond {
	width:50px;
	height:30px;
	padding: 1px;
	border: solid 1px black;
	border-radius: 100px;
	text-align: center;
	background-color: LightGreen;
}
*/