.svg {
	overflow: auto;
}
/* Стиль для узла */
.node {
	position: absolute;
	border: solid 1px black;
	width: 30px;
    height: 2px;
}
/* Стиль для линии */
.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 1.5px;
  }
/* Стиль для узла датчика */
.dat {
	border-radius: 10px;
	width: 5em;
	height: 4em;
	border: solid 1px black;
	text-anchor: middle;
	background-color: Gainsboro;
	position: relative;


	x: -2.5em;
	y: 5;
}

/* Стиль для div'а датчика */
.datDiv {
	text-anchor: middle;
	text-align: center;
	position: relative;
	width: 100%;
	height: 100%;
	overflow: visible;
	vertical-align: middle;
	padding: 1px 0;
	overflow-wrap: break-word;
	overflow: auto;
	
}

/* Стиль для текста датчика */
.datText {
	position: relative;
	font-size: 12px;
	font-weight: bold;
	
}

/* Стиль для узла условия */
.cond {
	position: relative;
	width: 35px;
	height: 35px;
	padding: 1px;
	border-radius: 100px;
	text-align: center;
	border: var(--border-style);
	background-color: white;
	x: -17;
	y: -17;

}

/* Стиль для div'а условия */
.condDiv {
	text-anchor: middle;
	position: relative;
	width: 100%;
	height: 100%;
}

/* Дополнение для стиля неактивированного узла условия */
.off {
	border: solid 1px black;
}

/* Дополнение для стиля активированного узла условия */
.on {
	border: solid 2px red;
}

/* Стиль для текста условия */
.condText {
	position: relative;
	font-size: 12px;
	top: 12%;
}
.additionText {
	position: relative;
	font-size: 11px;
	font-weight:normal
}
Div::-webkit-scrollbar {
	width: 2px;
	background-color: black;
  }