Div::-webkit-scrollbar {
	width: 0px;
	height: 0px;
	background-color: black;
}

.svg {
	overflow: auto;
}
/* Node style */
.node {
	position: relative;
	border: solid 1px black;
	width: 30px;
    height: 2px;
	pointer-events: all;
	cursor: pointer;
}

.linkOn {
	stroke:red;
}

.linkOff {
	stroke:#ccc;
}

.circle {
	position: relative;
}
/* Line style */
.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 1.5px;
  }
/* Style for sensor node */
.dat {
	border-radius: 10px;
	width: 80px;
	height: 4em;
	text-anchor: middle;
	position: relative;
	cursor: pointer;
	x: -2.5em;
	y: 0;
	padding: 1px;

}

/* Style for div in sensor node */
.datDiv {
	position: relative;
	width: 100%;
	height: 30%;
	top: 0%;
	overflow: hidden;
	vertical-align: middle;
	text-align: center;
	text-overflow: ellipsis;
	margin: 1px;
	overflow-wrap: break-word;
	white-space: nowrap;

}

/* Style for sensor text */
.datText {
	position: relative;
	font-size: 14px;
	font-weight: bold;
}

/* Style for condition node */
.cond {
	position: relative;
	width: 35px;
	height: 35px;
	padding: 1px;
	border-radius: 100px;
	text-align: center;
	border: 1px;
	background-color: white;
	cursor: pointer;
	x: -17;
	y: -17;

}

/* СStyle for condition div */
.condDiv {
	background-color: white;
	text-anchor: middle;
	position: relative;
	width: 100%;
	height: 100%;
}

/* Style for unactivated condition node */
.off {
	stroke: black;
}
/* Style for activated condition node */
.on {
	stroke: red;
}

/* Style for condition text */
.condText {
	position: relative;
	font-size: 12px;
	font-weight: bold;
}
.additionDatText {
	position: static;
	font-size: 14px;
	font-weight: normal;
}

.descDiv {
	text-align: center;	
	position: relative;
	overflow: auto;
	width: 100%;
	height: 65%;
	
}

.helper {
	color: gray;
	font-size: 11px;
	font-weight: bold;
	position: fixed;
	bottom: 4%;
	right: 3%;
	text-align: center;
}

.bigHelper {

	overflow: auto;
	position: fixed;
	width: auto;
	height: auto;
	border: 1px solid black;
	border-radius: 5px;
	top: 73%;
	left: 1%;
	display: inline-block;
	max-width: 25%;
	max-height: 25%;
	background-color: white;

}
.bigHelperBody {
	display: inline-block;

	font-size: 16px;
}
.tooltip {
	position: fixed;
	padding: 1px 2px;
	border: 1px solid #b3c9ce;
	border-radius: 4px;
	text-align: left;
	font: 14px sans-serif;
	color: #333;
	background: #fff;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
}

.nodePath {
	stroke-width: 2px;
}

.result {
	border-radius: 5px;
	width: 7em;
	height: 5em;
	border: 1px solid black;
	text-anchor: middle;
	background-color: lightcyan;
	position: absolute;
	x: -3.5em;
	y: -2.5em;
}
.resultDiv {
	position: relative;
	width: 100%;
	height: 70%;
	overflow: auto;
	vertical-align: middle;
	margin: 1px;
	overflow-wrap: break-word;
}
.resultText {
	position: absolute;
	font-size: 12px;
	font-weight: bold;
	top: 50%;
 	left: 50%;
  	transform: translate(-50%, -50%);
}

.levelDiv {
	position: absolute;
	padding-top: 2px;
	top: 70%;
	height: 30%;
	width: 100%;
	text-align: center;
	border-top: 1px solid black;

}

.com {
	position: absolute;
	height: 50px;
	y: 0;
	overflow: hidden;
	cursor: default;
}

.comDiv {
	text-align: center;
	display: inline-block;
	height: auto;
	max-height: 100%;
	background-color: white;
	padding-bottom: 4px;
	width: 100%;
	overflow: auto;

}

.comText {
	display: inline-block;
	cursor: pointer;
}

.anyValue {
	font-size: 12px;
}

.collapseFlag {
	font-size: 22px;
	stroke: black;
	width: 100%;
	height: 100%;
}

.colDiv {
	width: 100%;
	height: 100%;
	fill: none;
	text-align: center;
}

.col {
	width: 10px;
	height: 10px;
	background-color: white;
	border: 1px solid black;
	border-radius: 2px;
	box-shadow: 1px 1px white, -1px 1px white, -1px -1px white, 1px -1px white;
}
.plus {
	width: 100%;
	height: 80%;
	background:
	  linear-gradient(#000,#000),
	  linear-gradient(#000,#000);
	background-position:center;
	background-size: 80% 1px,1px 80%;
	background-repeat:no-repeat;
	border-radius: 2px;
	box-shadow: 1px 1px white, -1px 1px white, -1px -1px white, 1px -1px white;

}

.minus {
	width: 100%;
	height: 80%;
	background:
	  linear-gradient(#000,#000);
	background-position:center;
	background-size: 80% 1px;
	background-repeat:no-repeat;
}

.zoom {
	border: 1px solid black;
	height: 32px;
	border-radius: 5px;
	background-color: lightgray;
	position: fixed;
	top: 1%;
	right: 1%;
	cursor: pointer;
}
